.landing-main{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 50px;
}
.category-section{
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap :20px;
}
.line{
	background-color: #232323;
	height: 1px;
	width: 50px;
}
.categories-div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.categories-word{
	margin: 0;
	font-weight: bold;
	font-size: 60px;
	color: #232323;
}
.single-category{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 150px;
	height: 120px;
	gap: 10px;
	cursor: pointer;
		color: #393d46 ;
}
.single-category:hover{
	background-color: #232323;
	color: #f6f7fb !important;
}
.single-category:active{
	background-color: #232323;
	color: #f6f7fb !important;
}
.isActive{
	background-color: #232323;
	color: #f6f7fb !important;
}
.cat-icon{
	/*color: #c3cad6;*/
	font-size: 20px;
}
.category-text{
	margin: 0;
	font-weight: bold;
}
.newsletter-section{
	align-self: center;
	width: 90%;
	padding: 20px 0px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center;
	align-items: center;
	background-color: #232323;
	color: #f6f7fb;
	font-weight: bold;
	font-size: 50px;
}
.newsletter-section-headtitle{
	margin: 0;
	text-align: center;
}
.input-news-div{
	padding: 5px;
	width: 50vw;
	background-color: white;
	display: flex;
	flex-direction: row;
	gap: 6px;
	margin-bottom: 15px;
}
.input-news{
	padding: 10px 10px;
	width: 70%;
	outline: none;
	border: none;
}
.btn-news{
 	width: 30%;
 	border: none;
 	background-color: #232323;
 	color: white;
 	cursor: pointer;
}

.features{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 90%;
	height: auto;
	background-color: #232323;
	color: #f6f7fb;
	font-size: 2rem;
	margin-bottom: 30px;
	text-align: center;
}
.sub-features-div{
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom:40px;
}
.sub-features{
	display: flex;
	text-align: start;
	justify-content: center;
	flex-direction: column;
	font-size: 1rem;
	height:300px;
	width:280px;
	padding: 25px 40px;
	background-color: white;
	color: 	#232323;
	gap:15px;
}
.bold{
	font-weight: bold;
	text-transform: uppercase;
}
.wrap{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	margin-bottom: 30px;
}
.news{
	width: 575px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:10px;
	background-color: white;
	padding: 5px 15px ;
}
.card-img{
	height: 325px;
	width: 225px;
	object-fit: cover;
	border: 1px solid black;
}
.icon{
	width: 	40px;
	height: auto;
	margin-bottom: 10px;
}

.bottom-border__effect{
	position: relative;
	cursor: pointer;
}
.bottom-border__effect::before{
	content: '';
	position: absolute;
	background-color: #232323;
	width: 0;
	height: 2px;
	top: 25px;
}
.bottom-border__effect:hover::before{
	width: 92px;
	transition: all 0.4s ease-in-out;
}

.no-mg{
	margin: 0;
}




/* media larger screens -------- */
@media screen and (min-width:2000px){
	.newsletter-section{
		width: 60%;
	}
	.features{
		width: 60%;
	}
}

/* media phones --------------------- */

@media (max-width: 850px){
	.item{
		flex-direction: column;
		height: auto;
	}
	.description{
		    font-size: 1rem;

	}
	.title{
		font-size: 2rem;
		padding: 10px 0;
	}
	.newsletter-section{
		font-size: 2rem;
	}
	.features{
		font-size: 1rem;
	}
	.sub-features{
		height: 300px;
		width: 229px;
		padding: 5px 40px;
	}
	.news{
		flex-direction: column;
		flex-flow: column-reverse;
		gap:0px;
		padding: 15px 15px ;
	}
	.wrap{
		width: 90%;
	}
	.card-img{
		width: 100%;
		margin-bottom: 5px;
	}
}

@media (min-width: 850px) and (max-width: 1200px){
	.title{
		font-size: 3rem;
	}
}