.Basket-main{
	position: fixed;
	top: 0;
	right: -5000px;
	width: 30%;
	height: 100vh;
	background-color: #f6f7fb;
	box-shadow: 11px 2px 21px -1px black;
	transition: 500ms;
	border-left: 1px solid #232323;
	z-index: 5;
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow-x: scroll;
	direction: rtl; 
}

.Basket-active{
	right: 0;
}
.basket-header{
	width: 25px;
	align-self: flex-end;
	background-color: #232323;
	color: #f6f7fb;
	padding: 5px 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.cancel-icon{
	transform: rotate(45deg);
	margin-top: 14px;
	margin-bottom: 16px;
	font-size: 25px;
}

.items-div{
	direction: ltr;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
	justify-content: center;
    gap: 10px;
	text-align: center;

}
.checkout-section{
	margin: auto 10px 10px 10px ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	direction: ltr;
	background-color: white;
	border: 1px solid #232323;
	padding: 10px 0px;
}
.basket-text{
	margin: 0;
	font-weight: bold;
}
.checkout-btn{
	width: 26vw;
	border: none;
	background-color: #232323;
	color: #f6f7fb;
	padding: 10px 0px;
	cursor: pointer;
	font-weight: bold;
}

.checkout-details{
    align-self: flex-start;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    width: 90%;
}
.price-cart{
	margin-left: auto;
}
@media (max-width: 850px){
		.Basket-main{
			width: 100%;
		}
}



.basket-item-main{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding-left: 5px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.product-img{
	padding: 5px 0px;
	height: 90px;
	width: 90px	;
	object-fit: cover;
	margin-right: auto;
}
.product-about{
	padding: 5px 0px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin-right: auto;
}
.p-details{
	margin: 0;
}
.p-sub-title{
	color: grey;
}
.p-price{
	font-weight: bold;
	font-size: 20px;
	margin-top: 6px;
}
.options-section{
	background-color: #232323;
	width: 20px;
	height: 100%;

	color: #f6f7fb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.delete-icon{
	transform: rotate(45deg);
	cursor: pointer;
}
.p-title{
	font-weight: bold;
}
.p-items-n{
	font-weight: bold;
	margin-top: auto;
}
.itemsIncreaser{
	margin: 0px 5px;
}