.upload-main{
	display: flex;
	width: 100vw;
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.image-upload-div{
	height: 300px;
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	cursor: pointer;
	font-size: 60px;
	color: #232323;
}
.file{
	width: 0;
	height: 0;
}
.input{
 width: 480px;
 padding: 10px;
 outline: none;
 border: none;
 border-bottom: 2px solid #232323;
}
.checkboxes{
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.submit{
	border: none;
	background-color: #232323;
	color: #f6f7fb;
	font-weight: bold;
	padding: 10px 15px;
	cursor: pointer;
}
.product-pic{
	 height: 300px;
	 width: 500px;
	 object-fit: cover;
}

@media (max-width: 850px){

		.input{
	 width: 300px;
	}
}