.contact__container{
	margin: 30px 0px ;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	width: 85%;
	max-height: 500px;
	overflow-y: scroll;
}
.users__container{
		position: relative;
	background-color: #f6f7fb;
	width: 60%;
	height: 100%;
	padding: 20px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	border-radius: 0.5rem;

}
.user_convo{
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	background-color: white;
	padding: 0.8rem;
	border-radius: 0.5rem;
	width: 90%;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.name-msg{
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.message{
	color: grey;
}
.add{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 30px;
}

.add__input{
	padding: 0.5rem 1rem;
	border: 2px solid #232323;
	width: 60%;
}
.add__btn{
	background-color: #232323;
	font-weight: bold;
	color: #f5f5f5;
	padding: 0.6rem 1rem;
	width: 18%;
	align-self: flex-end;
	margin-left: 10px;
	border: none;
}
@media screen and (max-width: 1000px){
	.users__container{
		width: 95%;
	}
	.contact__container{
		max-height: auto;
		overflow-y: hidden;
	}
}

