.carousel {
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width:1800px){
  .carousel{
    width: 70%;
  }
}
@media screen and (max-width:1000px){
  .carousel{
    padding-top: 20px;
  }
}
.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #f6f7fb;
  color: #fff;

}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  border: none;
  border: 1px solid #232323;
  margin: 5px;
  height: 15px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.indicators > button.active {
  background-color: #232323;
  color: #f6f7fb;
}
.arrow{
  height: auto;
  width: 20px;
  cursor: pointer;
  color:  #232323;
  margin: 0px 20px;
}