.sender-p{
	width: 50px;
	height: 50px;
	border-radius: 5rem;
}

.feedback{
	display: flex;
	flex-direction: column;
	background-color: #f6f7fb;
	border-radius: 0.5rem;
	padding: 1.5rem;
	gap: 1rem;
	margin: 30px 0;
	max-width: 300px;
}
.sender-info{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	align-self: flex-start;
}
.sendername{
	font-size: 0.9rem;
	font-weight: bold;
	text-transform: capitalize;
}
.date{
	font-size: 0.8rem;

}
.barV{
	background-color: black;
	height: 1px;
	width: 100px;
	margin: 10px 10px;
}
.fbtitle{
	align-self: flex-start;
	font-weight: bold;
	text-transform: uppercase;
}
.stars{
	color:orange;
	font-size: 1.2rem;
	display: flex;
	flex-direction: row;
}