.err-msg{
	background-color: #fa9696bf;
	color: #a70f0fcc;
	padding: 30px 180px ;
	font-weight: bold;
	font-size: 20px;
	border: 2px solid #a70f0fcc;
}

.success-msg{
	background-color: #0080008f;
	color: #2c512d;
	padding: 30px 180px ;
	font-weight: bold;
	font-size: 20px;
	border: 2px solid #336d34;
}